@model CsvDataManager.Models.Persons
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewData["Title"] = "Edit CSV Data";
}

<div class="container">
    <h2 class="mt-4">@ViewData["Title"]</h2>

    <form asp-action="Edit" method="post" class="mt-4">
        <div class="form-group">
            <label for="FirstName">FirstName</label>
            @Html.TextBoxFor(model => model.FirstName, new { @class= "form-control"})
            @Html.ValidationMessageFor(model=>model.FirstName,"", new { @class = "text-danger" })
            @*<span asp-validation-for="model.FirstName" class="text-danger"></span>*@
        <div class="form-group">
            <label for="LastName">LastName</label>
            @Html.TextBoxFor(model => model.LastName, new { @class= "form-control"})
                @Html.ValidationMessageFor(model=>model.LastName,"", new { @class = "text-danger" })
        </div>
        <div class="form-group">
            <label for="Age">Age</label>
                @Html.TextBoxFor(model => model.Age, new { @class= "form-control",@type="number" })
                @Html.ValidationMessageFor(model=>model.Age,"", new { @class = "text-danger"})
        </div>
        <div class="form-group">
            <label for="Gender">Gender</label>
                @Html.TextBoxFor(model => model.Gender, new { @class= "form-control" ,@MaxLength= "1" ,@pattern="[MF]"})
                @Html.ValidationMessageFor(model=>model.Gender,"", new { @class = "text-danger" })
        </div>
        <div class="form-group">
            <label for="Mobile">Mobile</label>
                @Html.TextBoxFor(model => model.Mobile, new { @class= "form-control", @type="num" })
                @Html.ValidationMessageFor(model=>model.Mobile,"", new { @class = "text-danger"})
        </div>
        <div class="form-group">
            <label for="IsActive">IsActive</label>
            @Html.TextBoxFor(model => model.IsActive, new { @class= "form-control"})
                @Html.ValidationMessageFor(model=>model.IsActive,"", new { @class = "text-danger" })
        </div>
        <input type="hidden" asp-for="Id" />
        <button type="submit" class="btn btn-primary">Save</button>
    </form>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
